* {
  margin:0;
  padding:0;
}

.footer-cierre {
  height: 90px;
  background-color: $color_footer;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.cierre {
  font-size: 16px;
  color: $color_footer_letter;
}
