* {
  margin:0;
  padding:0;
}

.page-header {
  padding:10px;
  text-align: center;
  width: 100%;
  position:fixed;
  left:0;
  top:0;
  background: white;
  height: 112px;

  }


.logo {
  height: 60px;
}


.menu{
  list-style: none;
  margin:0;
  padding:0;

}


.menu-item {
  display: inline;
  margin-right:20px;

}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: $color_menu_letter;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  transition: color ease 1s, text-decoration ease 1s;
  }


.menu-link:hover{
  color:$color_nav_hover;
  text-decoration: underline;


}

.menu-item:last-child{
  margin-right: 0;
}

.logo-adalab {
  margin-top: 10px;
    }


.menu-nav {
  margin-top: 10px;

    }


// Mediaquesris:

@media all and (min-width:768px) {
	.page-header {
		padding: 20px 50px;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		align-items: center;
    font-family: 'Rubik', sans-serif;
}
.menu-nav {
  margin:0;
}

}
