 * {
  margin:0;
  padding:0;
   }



.hero {

background-size: cover;
height: 100vh;
display:flex;
align-items: center;

background-image: url(../images/foto-hero.jpeg);
background-position: center top;
padding-left: 20px;
box-sizing: border-box;
}


body{

  margin:0;
}

.contenedor-hijo {
  width: 161px;
  height: 108px;

}

.titulo-principal{

  word-spacing: 100vw;
  text-align: left;
  font-weight:bold;
  color:#ffff;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;


}


@media all and (min-width:768px) {

  .titulo-principal {
    font-size: 60px;

  }
  .hero{
    padding-left: 30px;
  }
}
