 * {
  margin:0;
  padding:0;
   }

   body {
    margin:0;
   }

.hero {

  background-size: 170% 100%;
  height: 70vh;
  display:flex;
  align-items: center;
  margin-top: 112px;
  background-image: url(../images/foto-hero.jpeg);
  background-position: center top;
  padding-left: 20px;
  box-sizing: border-box;

  }

.contenedor-hijo {
  width: 161px;
  height: 108px;

   }

.titulo-principal{

  word-spacing: 100vw;
  text-align: left;
  font-weight:bold;
  color:#ffff;
  font-size: 30px;
  font-family: 'Rubik', sans-serif;

    }


// Mediaqueris para tablet y desktop:

@media all and (min-width:768px) {

  .titulo-principal {
    font-size: 60px;
    }

  .hero{
    padding-left: 30px;
    height: 834px;
    background-size: cover;
    background-position: center top;
  }

}
